boto3==1.26.12
plotly==5.11.0
PyYAML==6.0
streamlit==1.23.1
sentence-transformers
torch
torchvision
cv2
pandas==1.1.1
pytorch
aiohttp
aiosignal
altair
async-timeout
attrs
blinker
cachetools
certifi
charset-normalizer
click
cmake
colorama
dataclasses-json
decorator
entrypoints
faiss-cpu
filelock
frozenlist
gitdb
gitpython
greenlet
huggingface-hub
idna
importlib-metadata
jinja2
joblib
jsonschema
langchain
lit
markdown-it-py
markupsafe
marshmallow-enum
marshmallow
mdurl
mpmath
multidict
mypy-extensions
networkx
nltk
numpy
nvidia-cublas-cu11
nvidia-cuda-cupti-cu11
nvidia-cuda-nvrtc-cu11
nvidia-cuda-runtime-cu11
nvidia-cudnn-cu11
nvidia-cufft-cu11
nvidia-curand-cu11
nvidia-cusolver-cu11
nvidia-cusparse-cu11
nvidia-nccl-cu11
nvidia-nvtx-cu11
openai
openapi-schema-pydantic
packaging
pillow
protobuf
pyarrow
pydantic
pydeck
pygments
pympler
pyrsistent
python-dateutil
python-dotenv
pytz-deprecation-shim
pytz
pyyaml
regex
requests
rich
scikit-learn
scipy
sentence-transformers
sentencepiece
setuptools
six
smmap
sqlalchemy
streamlit
sympy
tenacity
threadpoolctl
tokenizers
toml
toolz
torch
torchvision
tornado
tqdm
transformers
triton
typing-extensions
typing-inspect
tzdata
tzlocal
urllib3
validators
watchdog
wheel
yarl
zipp
